$width: 700px;
$height: 300px;

.dialog {
  width: inherit;
  height: 100vh;
  /* background-color: blue; */
  position: absolute;
  z-index: 2000;

  .popup {
    max-width: $width;
    width: fit-content;
    height: $height;
    z-index: 1200;
    position: absolute;
    background-color: red;
    left: 20%;
  }
}