html
  head
    link(rel="stylesheet", href="/assets/css/global.css")
    if title == 'Isekai Login'
      link(rel="stylesheet", href="/assets/css/login.component.css")
  body 
    block content
      