.dialog
  .popup
    .up-container
      .popup-header
        span.header Choose language
        i.fas.fa-times
      .locales
        a.child-locale(href="/?lng=ar") العربية  
        a.child-locale(href="/?lng=br") Português
        a.child-locale(href="/?lng=cn") 简体中文
        a.child-locale(href="/?lng=ct") 中文繁體 
        a.child-locale(href="/?lng=de") Deutsch 
        a.child-locale(href="/?lng=en") English 
        a.child-locale(href="/?lng=es") Español
        a.child-locale(href="/?lng=en") Français
        a.child-locale(href="/?lng=id") Bahasa Indonesia
        a.child-locale(href="/?lng=it") Italiano
        a.child-locale(href="/?lng=jp") 日本語
        a.child-locale(href="/?lng=kr") 한국어
        a.child-locale(href="/?lng=nl") Nederlands
        a.child-locale(href="/?lng=pl") Polski
        a.child-locale(href="/?lng=ro") Română
        a.child-locale(href="/?lng=ru") Pусский
        a.child-locale(href="/?lng=th") ไทย
        a.child-locale(href="/?lng=vi") Tiếng Việt
    .down-container
      button.btn.btn-save(type="button") Save