<div class="blog">
  <h1 id='title'>Blog</h1>
  <h1>Recent Blog</h1>

  <div class="blog-container">
    <div class="blog-wrap">
      <div class="blog-align">

        <!-- item 1 -->
        <div class="blog-item">
          <div class="blog-top-item">
            <img src="/static/images/storage.png" style="border-radius:inherit;background:#f2f5fe;width:inherit;height:inherit;" alt="storage images">
          </div>
          <div class="blog-bottom-item">
            <a href="#" class='label'>CLOUD TECHNOLOGIES</a>
            <div class="datetime">
              <i class="fas fa-calendar-alt"></i>
              <a href="#" class="date">February 17, 2020</a>
            </div>

            <h2 class="title">Protect Data in Cloud</h2>
            <p style="font-size:18px;margin-left:10px;line-height:1.8;">
              It is a long established fact that a reader 
                      will be distracted by the readable</p>

            <div style="margin-left:10px;font-size:18px;" class="btn">
              <a style="text-decoration:none;" href="#">Read More</a>
              <i style="color:var(--darkblue);font-size:14px;" class="fas fa-chevron-right"></i>
            </div>
          </div>
        </div>

        <!-- item 2 -->
        <div class="blog-item">
          <div class="blog-top-item">
            <img src="/static/images/storage.png" style="border-radius:inherit;background:#f2f5fe;width:inherit;height:inherit;" alt="storage images">
          </div>
          <div class="blog-bottom-item">
            <a href="#" class='label'>CLOUD TECHNOLOGIES</a>
            <div class="datetime">
              <i class="fas fa-calendar-alt"></i>
              <a href="#" class="date">February 17, 2020</a>
            </div>

            <h2 class="title">Protect Data in Cloud</h2>
            <p style="font-size:18px;margin-left:10px;line-height:1.8;">
              It is a long established fact that a reader 
                      will be distracted by the readable</p>

            <div style="margin-left:10px;font-size:18px;" class="btn">
              <a style="text-decoration:none;" href="#">Read More</a>
              <i style="color:var(--darkblue);font-size:14px;" class="fas fa-chevron-right"></i>
            </div>
          </div>
        </div>

        <!-- item 3 -->
        <div class="blog-item">
          <div class="blog-top-item">
            <img src="/static/images/storage.png" style="border-radius:inherit;background:#f2f5fe;width:inherit;height:inherit;" alt="storage images">
          </div>
          <div class="blog-bottom-item">
            <a href="#" class='label'>CLOUD TECHNOLOGIES</a>
            <div class="datetime">
              <i class="fas fa-calendar-alt"></i>
              <a href="#" class="date">February 17, 2020</a>
            </div>

            <h2 class="title">Protect Data in Cloud</h2>
            <p style="font-size:18px;margin-left:10px;line-height:1.8;">
              It is a long established fact that a reader 
                      will be distracted by the readable</p>

            <div style="margin-left:10px;font-size:18px;" class="btn">
              <a style="text-decoration:none;" href="#">Read More</a>
              <i style="color:var(--darkblue);font-size:14px;" class="fas fa-chevron-right"></i>
            </div>
          </div>
        </div>

        <!-- item 4 -->
        <div class="blog-item">
          <div class="blog-top-item">
            <img src="/static/images/storage.png" style="border-radius:inherit;background:#f2f5fe;width:inherit;height:inherit;" alt="storage images">
          </div>
          <div class="blog-bottom-item">
            <a href="#" class='label'>CLOUD TECHNOLOGIES</a>
            <div class="datetime">
              <i class="fas fa-calendar-alt"></i>
              <a href="#" class="date">February 17, 2020</a>
            </div>

            <h2 class="title">Protect Data in Cloud</h2>
            <p style="font-size:18px;margin-left:10px;line-height:1.8;">
              It is a long established fact that a reader 
                      will be distracted by the readable</p>

            <div style="margin-left:10px;font-size:18px;" class="btn">
              <a style="text-decoration:none;" href="#">Read More</a>
              <i style="color:var(--darkblue);font-size:14px;" class="fas fa-chevron-right"></i>
            </div>
          </div>
        </div>

        <!-- item 5 -->
        <div class="blog-item">
          <div class="blog-top-item">
            <img src="/static/images/storage.png" style="border-radius:inherit;background:#f2f5fe;width:inherit;height:inherit;" alt="storage images">
          </div>
          <div class="blog-bottom-item">
            <a href="#" class='label'>CLOUD TECHNOLOGIES</a>
            <div class="datetime">
              <i class="fas fa-calendar-alt"></i>
              <a href="#" class="date">February 17, 2020</a>
            </div>

            <h2 class="title">Protect Data in Cloud</h2>
            <p style="font-size:18px;margin-left:10px;line-height:1.8;">
              It is a long established fact that a reader 
                      will be distracted by the readable</p>

            <div style="margin-left:10px;font-size:18px;" class="btn">
              <a style="text-decoration:none;" href="#">Read More</a>
              <i style="color:var(--darkblue);font-size:14px;" class="fas fa-chevron-right"></i>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>