<div id="article-container">
  <div class="content">
    <div id="item-left">
      <p class="item-title">Business with Advanced</p>
      <p class="item-title">Cloud Hosting</p>

      <span class="item-detail">
        It is a long ebstablished fact that a reader will be 
        distracted by the readable content of a page when looking at 
        its layout
      </span>
      <br>

      <div class="btn-container">
        <button class="btn">Read More</button>
        <button class="btn">
          <i class="fas fa-caret-right"></i>
          Watch Video
        </button>
      </div>
    </div>
    <div id="item-right"></div>
  </div>

  <div class="article">
    
  </div>
</div>

