<div id="services">
  <div class="table-master">
    <div class="table-slave">
      <!-- item 1 -->
      <div class="table-col">
        <h2>Simple & Reliable</h2>
        <p><i class="fas fa-check"></i>10+ Cloud Providers</p>
        <p><i class="fas fa-check"></i>All Apps Supported</p>
        <p><i class="fas fa-check"></i>Innovative Control Panel</p>
        <p><i class="fas fa-check"></i>Unlimited Applications</p>
      </div>
  
      <!-- item 2 -->
      <div class="table-col">
        <h2>Free Experience</h2>
        <p><i class="fas fa-check"></i>10+ Cloud Providers</p>
        <p><i class="fas fa-check"></i>All Apps Supported</p>
        <p><i class="fas fa-check"></i>Innovative Control Panel</p>
        <p><i class="fas fa-check"></i>Unlimited Applications</p>
      </div>
  
      <!-- item 3 -->
      <div class="table-col">
        <h2>Performance</h2>
        <p><i class="fas fa-check"></i>10+ Cloud Providers</p>
        <p><i class="fas fa-check"></i>All Apps Supported</p>
        <p><i class="fas fa-check"></i>Innovative Control Panel</p>
        <p><i class="fas fa-check"></i>Unlimited Applications</p>
      </div>
    </div>
  </div>
  <h1 id='title'>Process</h1>
</div>