<div class="footer">
  <!-- begin -->
  <div class="begin">
    <strong class="notice">Subcribe for newsletter</strong>
  
    <div class="letter-sent">
      <input type="email" name="email" id="email" placeholder="Subcribe for newsletter" />
      <button class="btn">Subscribe</button>
    </div>
  </div>

  <!-- middle -->
  <div class="middle">
    <!-- item 1 -->
    <div class="item">
      <div class="resize-image">
        <img width="inherit" height="inherit" src="/static/images/logo.png" alt="logo" />
      </div>
      <p style="color:var(--white);line-height:1.8;">
        It is a long established fact that a reader will be 
        distracted by the readable content.
      </p>
    </div>

    <!-- item 2 -->
    <div class="item">
      <h1 class="title">Menu</h1>
      <ul class="list-item">
        <a href="#"><li><span>Home</span></li></a>
        <a href="#"><li><span>About Us</span></li></a>
        <a href="#"><li><span>Service</span></li></a>
        <a href="#"><li><span>Blog</span></li></a>
        <a href="#"><li><span>Contact Us</span></li></a>
      </ul>
    </div>

    <!-- item 3 -->
    <div class="item">
      <h1 class="title">About Us</h1>
      <ul class="list-item">
        <a href="#"><li><span>About Us</span></li></a>
        <a href="#"><li><span>Service</span></li></a>
        <a href="#"><li><span>Contact Us</span></li></a>
        <a href="#"><li><span>Pricing Plan</span></li></a>
        <a href="#"><li><span>Clients</span></li></a>
      </ul>
    </div>

    <!-- item 4 -->
    <div class="item">
      <h1 class="title">Useful links</h1>
      <ul class="list-item">
        <a href="#"><li><span>Our Team</span></li></a>
        <a href="#"><li><span>Pricing Plan</span></li></a>
        <a href="#"><li><span>FAQ</span></li></a>
        <a href="#"><li><span>Clients</span></li></a>
        <a href="#"><li><span>Contact Us</span></li></a>
      </ul>
    </div>

    <!-- item 5 -->
    <div class="item">
      <h1 class="title">Contact Us</h1>

      <ul class="list-item">
        <li>
          <i class="fas fa-home"></i>
          <span>1234 North Avenue Luke Lane, South Bend, INT 360001</span>
        </li>

        <li>
          <i class="fas fa-envelope"></i>
          <span>hello@iqnonic.design</span>
        </li>

        <li>
          <i class="fas fa-phone"></i>
          <span>+0123456789</span>
        </li>
      </ul>
      
    </div>

  </div>

  <!-- end -->
  <div class="end">
    <div class="icon-container">
      <i class="fab fa-facebook-f"></i>
      <i class="fab fa-twitter"></i>
      <i class="fab fa-instagram"></i>
      <i class="fab fa-linkedin-in"></i>
    </div>
    <div class="copyrights">
      Copyright 2020 Qloud All Right Reserved
    </div>
  </div>
</div>