<nav id='navbar'>
  <div id="nav-wrap">
    <div id='resize-image'>
      <img style="width:inherit;height:inherit;" src="{{ url_for('static', filename='images/logo.png') }}" alt="logo-homepage" />
    </div>
    
    <div id="dropdown-container">
      <div id='dropdown-menu'>
        <!-- item 1 -->
        <div class="menu-item-wrap">
          <div class="menu-item">
            <span class="menu-name">Home</span>
            <i class="fas fa-chevron-down"></i>
          </div>
  
          <div class="menu-item-list">
            <div class="list-item">Home 1</div>
            <div class="list-item">Home 2</div>
          </div>
        </div>
  
        <!-- item 2 -->
        <div class="menu-item-wrap">
          <div class="menu-item">
            <span class="menu-name">Hosting</span>
            <i class="fas fa-chevron-down"></i>
          </div>
  
          <div class="menu-item-list">
            <div class="list-item">Hosting 1</div>
            <div class="list-item">Hosting 2</div>
          </div>
        </div>
  
        <!-- item 3 -->
        <div class="menu-item-wrap">
          <div class="menu-item">
            <span class="menu-name">Pages</span>
            <i class="fas fa-chevron-down"></i>
          </div>
  
          <div class="menu-item-list">
            <div class="list-item">Pages 1</div>
            <div class="list-item">Pages 2</div>
          </div>
        </div>
  
        <!-- item 4 -->
        <div class="menu-item-wrap">
          <div class="menu-item">
            <span class="menu-name">Blog</span>
            <i class="fas fa-chevron-down"></i>
          </div>
  
          <div class="menu-item-list">
            <div class="list-item">Blog 1</div>
            <div class="list-item">Blog 2</div>
          </div>
        </div>
  
        <!-- item 5 -->
        <div class="menu-item-wrap">
          <div class="menu-item">
            <span class="menu-name">Porfolio</span>
            <i class="fas fa-chevron-down"></i>
          </div>
  
          <div class="menu-item-list">
            <div class="list-item">Porfolio 1</div>
            <div class="list-item">Porfolio 2</div>
          </div>
        </div>
  
        <!-- item 6 -->
        <div class="menu-item-wrap">
          <div class="menu-item">
            <span class="menu-name">Contact Us</span>
            <i class="fas fa-chevron-down"></i>
          </div>
  
          <div class="menu-item-list">
            <div class="list-item">Contact Us 1</div>
            <div class="list-item">Contact Us 2</div>
          </div>
        </div>
  
        <a href="/login" class="btn btn-login" type="button">Login</a>
        <a href="/register" class="btn btn-register" type="button">Sign Up</a>
  
      </div>
    </div>
  </div>
</nav>