<div class="partners">
  <h1 id="title">Our Partners</h1>

  <div class="partners-container">
    <div class="partners-align">
      <!-- item 1 -->
      <div class="resize-image">
        <img src="/static/images/partner-company.png" alt="partner">
      </div>

      <!-- item 2 -->
      <div class="resize-image">
        <img src="/static/images/design-company.png" alt="design">
      </div>

      <!-- item 3 -->
      <div class="resize-image">
        <img src="/static/images/showkate-company.png" alt="partner">
      </div>

      <!-- item 4 -->
      <div class="resize-image">
        <img src="/static/images/partner-company.png" alt="partner">
      </div>

      <!-- item 5 -->
      <div class="resize-image">
        <img src="/static/images/design-company.png" alt="partner">
      </div>

      <!-- item 6 -->
      <div class="resize-image">
        <img src="/static/images/partner-company.png" alt="partner">
      </div>

      <!-- item 7 -->
      <div class="resize-image">
        <img src="/static/images/showkate-company.png" alt="partner">
      </div>

      <!-- item 8 -->
      <div class="resize-image">
        <img src="/static/images/partner-company.png" alt="partner">
      </div>

      <!-- item 9 -->
      <div class="resize-image">
        <img src="/static/images/design-company.png" alt="partner">
      </div>

      <!-- item 10 -->
      <div class="resize-image">
        <img src="/static/images/partner-company.png" alt="partner">
      </div>

      <!-- item 11 -->
      <div class="resize-image">
        <img src="/static/images/showkate-company.png" alt="partner">
      </div>

      <!-- item 12 -->
      <div class="resize-image">
        <img src="/static/images/sofbox-company.png" alt="partner">
      </div>

      <!-- item 13 -->
      <div class="resize-image">
        <img src="/static/images/partner-company.png" alt="partner">
      </div>
    </div>
  </div>
</div>