<div class="pricing">
  <h1 id='title'>Pricing</h1>
  <h1>Plans & Pricing</h1>

  <div class="pricing-wrap">
    <div class="pricing-content">

      <!-- item 1 -->
      <div class="pricing-item">
        <div class="pricing-overlay">
          <h2 class="pricing-type">BASIC</h2>
          <h1 class="pricing-option">Free</h1>

          <p class='pricing-explained'>It is a long established fact that a reader will be distracted</p>

          <span>Feedback System</span><br>
          <span>Social Integration</span><br>
          <span>Push Notifications</span><br>
          <span>Relevant App Content</span><br>
          <span>Log-in via Social Media</span><br>

          <button class="btn">Read More</button>
        </div>
      </div>

      <!-- item 2 -->
      <div class="pricing-item">
        <div class="pricing-overlay">
          <h2 class="pricing-type">PREMIUM</h2>
          <h1 class="pricing-option">$ 12 /mo</h1>

          <p class='pricing-explained'>It is a long established fact that a reader will be distracted</p>

          <span>Feedback System</span><br>
          <span>Social Integration</span><br>
          <span>Push Notifications</span><br>
          <span>Relevant App Content</span><br>
          <span>Log-in via Social Media</span><br>

          <button class="btn">Read More</button>
        </div>
      </div>

      <!-- item 3 -->
      <div class="pricing-item">
        <div class="pricing-overlay">
          <h2 class="pricing-type">BUSINESS</h2>
          <h1 class="pricing-option">$ 38 /mo</h1>

          <p class='pricing-explained'>It is a long established fact that a reader will be distracted</p>

          <span>Feedback System</span><br>
          <span>Social Integration</span><br>
          <span>Push Notifications</span><br>
          <span>Relevant App Content</span><br>
          <span>Log-in via Social Media</span><br>

          <button class="btn">Read More</button>
        </div>
      </div>

    </div>
  </div>
</div>