<div class="process">
  <h1 style="text-align:center;color:var(--darkblue);">
    Host your files in just a minute
  </h1>

  <div class="process-wrap">
    <div class="process-align">
      <!-- item 1 -->
      <div class="process-item">
        <div class="process-illusion">
          <div class="num">
            <h1>1</h1>
          </div>
          <div class="resize-image">
            <!-- <img src="/static/images/process-1.png" alt="process-1"> -->
          </div>
        </div>

        <h2 style="color:var(--darkblue);">Connect your cloud</h2>
        <p style='margin:0;text-align:center;'>It is a long established fact that a reader will be distracted 
          by the of readable content Deploy at scale on the.</p>
      </div>

      <!-- item 2 -->
      <div class="process-item">
        <div class="process-illusion">
          <div class="num">
            <h1>1</h1>
          </div>
          <div class="resize-image">
            <!-- <img src="/static/images/process-1.png" alt="process-1"> -->
          </div>
        </div>

        <h2 style="color:var(--darkblue);">Choose a name</h2>
        <p style='margin:0;text-align:center;'>It is a long established fact that a reader will be distracted 
          by the of readable content Deploy at scale on the.</p>
      </div>

      <!-- item 3 -->
      <div class="process-item">
        <div class="process-illusion">
          <div class="num">
            <h1>1</h1>
          </div>
          <div class="resize-image">
            <!-- <img src="/static/images/process-1.png" alt="process-1"> -->
          </div>
        </div>

        <h2 style="color:var(--darkblue);">Deploy your content</h2>
        <p style='margin:0;text-align:center;'>It is a long established fact that a reader will be distracted 
          by the of readable content Deploy at scale on the.</p>
      </div>


    </div>
  </div>
</div>