@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');

.login-container {
  padding: 100px 10px 100px 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #e7e6e1;
  align-items: center;

  .login {
    border-radius: 10px;
    box-shadow: 0px 0px 3px 2px #8888;
    border: 1px solid grey;
    width: 400px;
    display: grid;
    grid-template-rows: auto auto auto auto 60px;
    height: 500px;
    background-color: #fff;
    
    .extra-info {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      #left {
        margin-left: 20px;
      }

      #right {
        margin-right: 20px;
        width: 120px;
        height: 100%;

        button {
          width: inherit;
          height: 50px;
          border-radius: 10px;
          border: 1px solid tomato;
          background: tomato;
          color: #fff;
          font-size: 16px;
        }
      }
    }

    .header {
      font-size: 30px;
      text-align: center;		
      color: #333;	
      padding: 30px;
    }
  
    .info {
      display: flex;
      flex-direction: column;
      align-items: center;

      span.fillin {
				width: calc(100% - 50px);
        position: relative;
        height: 40px;
			}

			span.fillin > input.input {
				border: none;
        outline: transparent;
        width: 100%;
        position: absolute;
        height: inherit;
        z-index: 2;
        border-bottom: 2px solid #888;
			}

			span.fillin {
        input.input {
          * {font-size: 18px;}
        }

        input.input:focus + span.label {
          bottom: 100%;
          font-size: 13px;
        }

        .label {
          color: #888;
          font-size: 16px;
          position: absolute;
          z-index: 3;
          bottom: 10px;
          transition: bottom .5s;
        }
			}
    }

    .forgot {
      display: flex;
      justify-content: flex-end;
      align-items: flex-start;
      margin-right: 20px;
      color: #333;
      font-size: 13px;

      span:hover {
				color: red;
				cursor: pointer;
			}
    }

    .login_footer {
      margin-bottom: 0px;
      background-color: #333;
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      height: -webkit-fill-available;
    }
  }

  .illusion {
    height: 500px;
    display: flex;
    flex-direction: column;
    margin-left: 100px;

    .img {
      height: 200px;
      background: url(https://sg.static.mega.co.nz/3/images/mega/register-sprite_v3.png);
      background-position-x: center;
    }

    *:not(.img) {
      text-align: center;
      font-size: 28px;
    }
  }
}	

@media only screen and (max-width: 992px) {
  .login-container {
    flex-direction: column;
    padding: 100px 10px 0px 10px;

    .illusion {
      height: 500px;
      display: flex;
      flex-direction: column;
      margin-left: 0px;
      margin-top: 60px;
    }
  }	
}
