.partners {
  background: #e7e7e7;
  padding: 20px;
}

.partners #title {
  text-align: center;
  color: var(--darkblue);
}

.partners .partners-container .partners-align {
  display: flex;
  overflow-x: hidden;
}

.partners .partners-container .partners-align .resize-image {
  width: 120px;
  height: 60px;
}

.partners .partners-container .partners-align .resize-image img {
  width: inherit;
  height: inherit;
}